:root {
  --primary:#E63946;
  --secondary:#1D3557;
  --light:#F1FAEE;
}
.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.light {
  color: var(--light);
}

.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-light{
  background-color: var(--light);
}
.border-primary {
  border-color: var(--primary);
}
.border-secondary {
  border-color: var(--secondary);
}
.border-light {
  border-color: var(--light);
}

.disabled {
  background-color: #e57982;
}
